<div class="flex h-full w-150 gap-5">
  <section
    hlmCard
    class="w-full max-w-sm bg-[#1f1f2e] transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-100"
    (click)="abrirEstrutura()"
  >
    <div hlmCardHeader class="">
      <h3 hlmCardTitle class="text-white">Sincronizar Estrutura</h3>
      <p hlmCardDescription class="text-white">
        Compare e sincronize tabelas entre local e nuvem.
      </p>
    </div>

    <!-- <div class="box-img">
      <div class="img"></div>
    </div> -->
  </section>

  <section
    hlmCard
    class="w-full max-w-sm bg-[#1f1f2e] transition delay-150 duration-200 ease-in-out hover:-translate-y-1 hover:scale-100"
    (click)="abrirDados()"
  >
    <div hlmCardHeader class="">
      <h3 hlmCardTitle class="text-white">Sincronizar Dados</h3>
      <p hlmCardDescription class="text-white">
        Compare e sincronize dados das tabelas entre local e nuvem.
      </p>
    </div>

    <!-- <div class="box-img">
      <div class="img"></div>
    </div> -->
  </section>
</div>
