<!-- <div class="container">
    <div class="container-card">
        <div class="card " style="background: linear-gradient(100deg, #5243d1, #2E268A); " (click)="abrirEstrutura()">
            <h3>Sincronizar Estrutura</h3>
            <p>Compare e sincronize tabelas entre local e nuvem.</p>
            <div class="box-img">
                <div class="img"></div>
            </div>
        </div>
        <div class="card " style="background: linear-gradient(100deg, #55a0e6, #2a6ca5);" (click)="abrirDados()">
            <h3>Sincronizar Dados</h3>
            <p>Compare e sincronize dados das tabelas entre local e nuvem.</p>
        </div>
    </div>
</div> -->

<div  class="flex flex-col items-center h-full px-4 bg-[#1e1e2f]">

    <div class="container-card">
        <div class="card " style="background: linear-gradient(100deg, #5243d1, #2E268A); " (click)="abrirEstrutura()">
            <h3>Sincronizar Estrutura</h3>
            <p>Compare e sincronize tabelas entre local e nuvem.</p>
            <div class="box-img">
                <div class="img"></div>
            </div>
        </div>
        <div class="card " style="background: linear-gradient(100deg, #55a0e6, #2a6ca5);" (click)="abrirDados()">
            <h3>Sincronizar Dados</h3>
            <p>Compare e sincronize dados das tabelas entre local e nuvem.</p>
        </div>
    </div>
      
</div>