
*{
  margin: 0;
  padding: 0;
}
.custom-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition: background 0.3s, transform 0.2s;
    height: 100%;
  }
  
  .custom-button:hover {
    transform: scale(1.03);
  }
  
  .custom-button:active {
    transform: scale(0.98);
  }
  