@import '../../../../styles/variaveis';

button {
  width: 100%;
  padding: 12px;
  background-color: $color-button;
  border: none;
  border-radius: 8px;
  color:$color-text-main;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:focus {
  background-color: $color-input-focus-bg;
}

button:disabled {
  // background-color: $color-button-disabled;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: $color-button-hover;
}
