<section hlmCard class="w-6/6 md:w-200 bg-[#1f1f2e]">
    <div hlmCardHeader>
      <app-header [titulo]="'Conexão'" [form]="" [fl_list]="false">
      </app-header>
    </div>

    <div hlmCardContent class="">
      <form (ngSubmit)="onSave()" >
        <div class="flex flex-col gap-6">
          <h3 class="text-white">Configuração banco de dados CLOUD</h3>

          <div class="grid grid-cols-2 gap-2">
            <app-input-custom
              [type]="'password'"
              [label]="'Host:'"
              [inputId]="'db_cloud_host'"
              [(model)]="cloud.db_cloud_host"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>

            <app-input-custom
              [type]="'password'"
              [label]="'Porta:'"
              [inputId]="'db_cloud_port'"
              [(model)]="cloud.db_cloud_port"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <app-input-custom
              [type]="'password'"
              [label]="'Nome de usuario:'"
              [inputId]="'db_cloud_user'"
              [(model)]="cloud.db_cloud_user"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>

            <app-input-custom
              [type]="'password'"
              [label]="'Senha:'"
              [inputId]="'db_cloud_password'"
              [(model)]="cloud.db_cloud_password"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>
          </div>

          <h3 class="text-white">Configuração banco de dados LOCAL</h3>

          <div class="grid grid-cols-2 gap-2">
            <app-input-custom
              [type]="'text'"
              [label]="'Host:'"
              [inputId]="'db_local_host'"
              [(model)]="local.db_local_host"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>

            <app-input-custom
              [type]="'text'"
              [label]="'Porta:'"
              [inputId]="'db_local_port'"
              [(model)]="local.db_local_port"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <app-input-custom
              [type]="'text'"
              [label]="'Nome de usuario:'"
              [inputId]="'db_local_user'"
              [(model)]="local.db_local_user"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>

            <app-input-custom
              [type]="'text'"
              [label]="'Senha:'"
              [inputId]="'db_local_password'"
              [(model)]="local.db_local_password"
              [required]="true"
              placeholder=""
            >
            </app-input-custom>


          </div>

          <div class="flex w-full justify-end">
        <button type="submit" class="bg-[#4caf50] hover:bg-[#45a049] text-white " hlmBtn>Salvar</button>

          </div>


        </div>
      </form>
    </div>
  </section>