<div class="container">

    <div class="card">

        <div class="row">
            <div class="col-btn">
              <a [routerLink]="['/admin/dashboard']">
                <i class="bi bi-arrow-left-short"></i>
              </a>
             </div>
              <div class="col-titulo">
                <h3>Conexao</h3>
              </div>
        </div>
        <h3>Configuração banco de dados CLOUD</h3>
        <div class="row">


           <div class="col-50-custom">
                <app-input-text
                    [label]="'Host:'"
                    [inputId]="'db_cloud_host'"
                    [(model)]="cloud.db_cloud_host"
                    [required]="true"
                    placeholder="">
                </app-input-text>
           </div>
           <div class="col-50-custom">
                <app-input-text
                    [label]="'Porta:'"
                    [inputId]="'db_cloud_port'"
                    [(model)]="cloud.db_cloud_port"
                    [required]="true"
                    placeholder="">
                </app-input-text>
           </div>
        </div>
        <div class="row">
           <div class="col-50-custom">
                <app-input-text
                    [label]="'Nome de usuario:'"
                    [inputId]="'db_cloud_user'"
                    [(model)]="cloud.db_cloud_user"
                    [required]="true"
                    placeholder="">
                </app-input-text>
           </div>
           <div class="col-50-custom">
                <app-input-text
                    [label]="'Senha:'"
                    [inputId]="'db_cloud_password'"
                    [(model)]="cloud.db_cloud_password"
                    [required]="true"
                    placeholder="">
                </app-input-text>
           </div>
        </div>
        <h3>Configuração banco de dados LOCAL</h3>
        <div class="row">

            <div class="col-50-custom">
                 <app-input-text
                     [label]="'Host:'"
                     [inputId]="'db_local_host'"
                     [(model)]="local.db_local_host"
                     [required]="true"
                     placeholder="">
                 </app-input-text>
            </div>
            <div class="col-50-custom">
                 <app-input-text
                     [label]="'Porta:'"
                     [inputId]="'db_local_port'"
                     [(model)]="local.db_local_port"
                     [required]="true"
                     placeholder="">
                 </app-input-text>
            </div>
         </div>
         <div class="row">
            <div class="col-50-custom">
                 <app-input-text
                     [label]="'Nome de usuario:'"
                     [inputId]="'db_local_user'"
                     [(model)]="local.db_local_user"
                     [required]="true"
                     placeholder="">
                 </app-input-text>
            </div>
            <div class="col-50-custom">
                 <app-input-text
                     [label]="'Senha:'"
                     [inputId]="'db_local_password'"
                     [(model)]="local.db_local_password"
                     [required]="true"
                     placeholder="">
                 </app-input-text>
            </div>
         </div>

         <div class="row">
            <div class="" style="  width: 100%;  justify-content: flex-end;  display: flex; " >
                <app-button
                  [text]="'Salvar'"
                  [icon]="'bi bi-floppy-fill'"
                  [color]="''"
                  [backgroundColor]="''"
                  (clickEvent)="onSave()">
                </app-button>
              </div>
         </div>


    </div>
</div>
