<nav class="custom-navbar dark">
  <div class="navbar-container">
    <a class="navbar-brand" [routerLink]="['/admin/dashboard']">
      <i class="bi bi-cloudy-fill"></i>
      <span>SyncDB</span>
    </a>

    <button class="navbar-toggle" (click)="menuAberto = !menuAberto">
      ☰
    </button>

    <div class="navbar-links" [class.open]="menuAberto">
      <ul>
        <li>
          <a [routerLink]="['/admin/estrutura']">
            <i class="bi bi-list-nested"></i>
            Estrutura
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin/dados']">
            <i class="bi bi-database-fill-exclamation"></i>
            Dados
          </a>
        </li>
        <li>
          <a href="#" (click)="sair()">
            <i class="bi bi-box-arrow-left"></i>
            Sair
          </a>
        </li>
      </ul>
      <form (submit)="buscar()">
        <input type="text" placeholder="Buscar..." [(ngModel)]="termoBusca" name="search" />
        <button type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<router-outlet />
