<nav class="custom-navbar dark">
  <div class="navbar-container">
    <a class="navbar-brand" [routerLink]="['/admin/dashboard']">
      <i class="bi bi-cloudy-fill"></i>
      <span>SyncDB</span>
    </a>

    <button class="navbar-toggle" (click)="menuAberto = !menuAberto">
      ☰
    </button>

    <div class="navbar-links" [class.open]="menuAberto">
      <ul>
        <li>
          <a [routerLink]="['/admin/estrutura']">
            <i class="bi bi-list-nested"></i>
            Estrutura
          </a>
        </li>
        <li>
          <a href="#" (click)="sair()">
            <svg width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
              <path d="M6 2a1 1 0 0 0-1 1v4.5H2.707L5.854 4.354a.5.5 0 1 0-.708-.708L1.5 7l3.646 3.354a.5.5 0 0 0 .708-.708L2.707 8.5H5V13a1 1 0 0 0 1 1h5a1 1 0 0 0 1-1V2H6z"/>
            </svg>
            Sair
          </a>
        </li>
      </ul>
      <form (submit)="buscar()">
        <input type="text" placeholder="Buscar..." [(ngModel)]="termoBusca" name="search" />
        <button type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</nav>

<router-outlet />
