

// Cores principais
$color-bg-body: #1e1e2f;
$color-bg-body-end: #282c34;
$color-bg-container: #1f1f2e;

// Inputs
$color-input-bg: #2c2c3e;
$color-input-focus-bg: #323246;
$color-input-border-focus: #4caf50;

// Texto
$color-text-main: #ffffff;
$color-text-secondary: #ccc;

// Botões
$color-button: #4caf50;
$color-button-hover: #45a049;
$color-button-disabled: #666;

// Extras
$border-radius-default: 8px;
$transition-default: 0.3s ease-in-out;
