 <div class="row">
        <div class="col-voltar">
          <a (click)="onClose()">
            <i class="bi bi-arrow-left-short"></i>
          </a>
          </div>

          <div class="col-titulo">
            <h3>{{titulo}}</h3>
          </div>


          <div class="col-novo">
            <a type="button" (click)="onNew()" title="novo" class="btn-novo" *ngIf="fl_list">
              <i class="bi bi-plus-lg"></i>
              <h3>Novo</h3>
            </a>
          </div>


      </div>
