<div class="flex justify-between  w-6/6 text-white  ">

  <div class=" text-[2rem]">
    <a (click)="onClose()">
      <i class="bi bi-arrow-left-short"></i>
    </a>
  </div>

  <div class="flex  items-center">
    <p>{{ titulo }}</p>
  </div>

  <div class="flex  items-center ">
    <ng-icon hlm size="base" name="lucideEllipsisVertical" />
  </div>

  <div class="" *ngIf="fl_list">
    <a type="button" (click)="onNew()" title="novo"  >
      <i class="bi bi-plus-lg"></i>
      <h3>Novo</h3>
    </a>
  </div>

</div>
