<div class="flex justify-between w-6/6 text-white">
  <div class="text-[2rem]">
    <a (click)="onClose()">
      <i class="bi bi-arrow-left-short"></i>
    </a>
  </div>

  <div class="flex items-center">
    <p>{{ titulo }}</p>
  </div>

  <div class="flex items-center">
    <brn-popover>
      <button title="opcoes" brnPopoverTrigger>
        <ng-icon hlm size="base" name="lucideEllipsisVertical" />
      </button>
      <div
        hlmPopoverContent
        *brnPopoverContent="let ctx"
        class="grid w-50 gap-4 bg-[#1f1f2e]"
      >
        <div class="space-y-6 ">
          <h4 class="font-medium leading-none text-white">Opções</h4>
          
        </div>
      </div>
    </brn-popover>
  </div>

  <div class="" *ngIf="fl_list">
    <a type="button" (click)="onNew()" title="novo">
      <i class="bi bi-plus-lg"></i>
      <h3>Novo</h3>
    </a>
  </div>
</div>
