
<div class="container">
  
    <div class="card">

      <div class="row">
        <div class="col-80">
            <label for="base-select">Base de dados: (*)</label>
            <app-select-basic
            [bases]="bases"
            [(selected)]="baseSelecionada"
            >
            </app-select-basic>
        </div>
        <div class="col-10">
          <!-- <label>&nbsp;</label>  -->
          <app-button
          [text]="''"
          [icon]="'bi-check'"  
          [color]="''"
          [backgroundColor]="''"
          [disabled]="fl_operacao"
          (clickEvent)="verificarEstrutura()">
        </app-button>
        </div>
      </div>

      <div class="row">
        <div class="col-100">
          <app-table-basic [resultados]="resultados"></app-table-basic>
        </div>
      </div>

      <div class="row">
        <div class="col-100">
          <app-progresso-bar  
          [progresso]="progressoService.progresso"
          [mensagem]="progressoService.status"
          >
          </app-progresso-bar>
        </div>
      </div>
     

    </div>
  </div>

  