@import '../../../styles/variaveis';

/* Container principal */



.col.button
{
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

.header
{
  display: flex;
  flex-direction: row;
}

.col-btn
{
  width: 10%;
}

.col-btn a {
  padding: 5px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color:$color-text-main;
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.col-btn a:hover:not(:disabled)
{
  color: $color-button-hover;
}


.col-titulo
{
  width: 86%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-text-main;
}