<div
  class="min-h-screen flex flex-col justify-center items-center bg-gradient-to-br from-[#1e1e2f] to-[#282c34]"
>
  <section hlmCard class="w-6/6 md:w-200 bg-[#1f1f2e]" *ngIf="loading == false">
    <div hlmCardHeader>
      <app-header [titulo]="'Registrar'" [form]="" [fl_list]="false">
        >
      </app-header>
    </div>

      <form  hlmCardContent class="flex flex-col gap-3" (ngSubmit)="cadastrar()">

        <app-input-custom
          [label]="'Login'"
          [inputId]="'login'"
          [(model)]="objeto.login"
          [required]="true"
        >
          </app-input-custom>

        <app-input-custom
            [label]="'Nome'"
          [inputId]="'nome'"
          [(model)]="objeto.nome"
          [required]="true"
        >
        </app-input-custom>
      
        <app-input-custom
          [label]="'Senha'"
          [type]="'password'"
          [inputId]="'senha'"
          [(model)]="objeto.senha"
          [required]="true"
        >
        </app-input-custom>

        <div class="flex justify-end" >
          <button
            type="submit"
            class="bg-[#4caf50] hover:bg-[#45a049] text-white"
            hlmBtn
          >
            Cadastrar
          </button>
        </div>

      </form>
  </section>

  <div *ngIf="loading == true">
    <hlm-spinner class="text-white" />
  </div>
</div>
