
<div class="container">
  <div class="card" *ngIf="loading == false">
    
    <app-header
      [titulo]="'Registrar'"
      [form]=""
      [fl_list]="false"
      >
    >
  </app-header>

      <div class="form">

          <app-input-text
            [label]="'Login'"
            [inputId]="'login'"
            [(model)]="objeto.login"
            [required]="true">
          </app-input-text>

        <app-input-text
            [label]="'Nome'"
            [inputId]="'nome'"
            [(model)]="objeto.nome"
            [required]="true">
        </app-input-text>

        <app-input-password
            [label]="'Senha'"
            [inputId]="'senha'"
            [(model)]="objeto.senha"
            [required]="true">
        </app-input-password>

        <app-button
          [text]="'Cadastar'"
          [type]="'button'"
          [icon]="'bi bi-box-arrow-in-right'"
          [color]="''"
          [backgroundColor]="''"
          (clickEvent)="cadastrar()">
        </app-button>

      </div>

  </div>

  <div *ngIf="loading == true">
    <hlm-spinner class="text-white" />
  </div>


  </div>


