
<div class="container">
  <div class="card">
     
     <h1 class="text-3xl font-bold ">
      <h2>Bem-vindo</h2>
    </h1>
      <form (ngSubmit)="logar()">

        <app-input-text
          [label]="'Usuário'"
          [inputId]="'login'"
          [(model)]="objeto.login"
          [required]="true"
          >
        </app-input-text>

        <app-input-password
          [label]="'Senha'"
          [inputId]="'senha'"
          [(model)]="objeto.senha"
          [required]="true">
      </app-input-password>

      <div class="button-group">
        <button class="btn-link" type="button">
          <a [routerLink]="['/register']">Registrar-se</a>
        </button>

        <button class="btn-primary" type="submit">
          <i class="bi bi-box-arrow-in-right"></i>
          Entrar
        </button>
      </div>



    </form>

  </div>

  </div>


