  
@import '../../../../styles/variaveis';
  
  :host {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: $color-bg-degrade;
  }
  
  .login-container {
    background-color:  $color-bg-container;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 360px;
    color:$color-text-main;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 24px;
  }
