@import '../../../../styles/variaveis';
.input-group {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 6px;
    font-size: 0.9rem;
  }

  input {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    background-color:$color-input-bg;
    color: $color-text-secondary;
    outline: none;
    transition: 0.2s;
      margin-bottom: 10px;
  }

  input:focus {
    border: 1px solid $color-input-border-focus;
    background-color: $color-input-focus-bg;
  }

