@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*
{
    margin: 0;
}

html, body {
    height: 100%;        /* Garante que o corpo ocupe toda a altura da tela */
    overflow: hidden;    /* Remove a barra de rolagem */
    margin: 0;           /* Remove qualquer margem da página */
    font-family: "Rubik", sans-serif;

  }
  