@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './styles/variaveis';
@import './styles/card';

*
{
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color:  $color-bg-body lighten($color-bg-body, 5%);
}


html, body
{
  height: 100%;
  margin: 0;
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; // Importante: permite que o conteúdo cresça pra baixo
  width: 100vw;
  height: 100vh; // Define a altura visível
  background: $color-bg-degrade;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; // Ativa scroll quando necessário
}

