*
{
    margin: 0;
}

html, body {
    height: 100%;        /* Garante que o corpo ocupe toda a altura da tela */
    overflow: hidden;    /* Remove a barra de rolagem */
    margin: 0;           /* Remove qualquer margem da página */
  }
  