.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #828282;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50; 
    transition: width 0.3s ease;
  }
  
  p {
    color: white;
    font-size: 1rem;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);  /* Centraliza verticalmente */
  }
  